[submodule "intercom-auth"]
	path = intercom-auth
	url = https://github.com/vksssd/intercom-auth.git
	branch = main

[submodule "intercom-chat-widget"]
	path = intercom-chat-widget
	url = https://github.com/vksssd/intercom-chat-widget.git
	branch = main
	

